* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  background-image: url(https://data.whicdn.com/images/305737498/original.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
  font-size: 20px;
}

.centralizar {
  text-align: center;
  opacity: 100%;
}

